#circle {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0.6);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);

}

.rouring-tools {
    font-family: tahoma, "microsoft yahei", "\5FAE\8F6F\96C5\9ED1";
    color: RGBA(133, 137, 140, 1.00);
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 25px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    -webkit-box-shadow: 0 0 2px RGBA(244, 244, 244, 1.00);
    -moz-box-shadow: 0 0 2px RGBA(244, 244, 244, 1.00);
    box-shadow: 0 0 2px RGBA(244, 244, 244, 1.00);
}

.rouring-tools .routing-tools-method {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: RGBA(244, 244, 244, 0.70);
}

.rouring-tools .routing-tools-method li {
    width: 33.333%;
    text-align: center;
}

.rouring-tools .routing-tools-method li div {
    margin-top: 10px;
}

.rouring-tools .routing-tools-method .active  {
    color: red;
}

.rouring-tools .routing-tools-method li div p {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rouring-tools .routing-tools-method li:first-child {
    border-right-style: solid;
    border-width: 2px;
    border-color: RGBA(244, 244, 244, 0.70);
}

.rouring-tools .routing-tools-method li:last-child {
    border-left-style: solid;
    border-width: 2px;
    border-color: RGBA(244, 244, 244, 0.70);
}

.rouring-tools .routing-tools-method li p {
    text-align: center;
}

.routing-tools-textinput {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    border: none;

}

.routing-tools-textinput li:first-child {
    margin: 10px;
}

.routing-tools-textinput li:last-child {
    width: 100%;
    margin-right: 20px;
}

.routing-tools-textinput input {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    border: none;
    padding: 0;

    height: 20px;

    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.routing-tools-textinput h5 {
    font-size: 18px;
    margin-top: 5px;
    height: 22px;
    margin-bottom: 0px;
}